<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Nolan Wagener
              </h1>
              <p>
                I received my PhD in Robotics at the Georgia Institute of Technology, where I was advised by Byron Boots (UW) and Panagiotis Tsiotras.
                I am interested in machine learning for robotics, particularly to increase the capabilities of robots.
                I am fortunate to have been funded by the NSF Graduate Research Fellowship and received and been nominated for several "best paper" awards at robotics conferences.
                I have also interned at Microsoft Research in the reinforcement learning group.
              </p>
              <p>
                <b>I am currently in the industry job market for a position in cutting-edge research in robotics and machine learning.</b>
              </p>
              <p style="text-align:center">
                <a href="mailto:nolan.wagener@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="/media/CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://github.com/nolanwagener">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=SgGIYH0AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/nwagener">LinkedIn</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="media/headshot.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:30%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3> <br>
              {% if post.authors %}
                {{post.authors}} <br>
              {% endif %}
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} <br>
              {% if post.award %}
                <font color="#cc0000"><strong>{{post.award}}</strong></font> <br>
              {% endif %}
              {% if post.note %}
                <font color="#38761d"><strong>{{post.note}}</strong></font> <br>
              {% endif %}

              {% assign first_entry = true %}
              {% if post.paper %}
                <a href="{{post.paper}}">Paper</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.thesis %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.thesis}}">Thesis</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.website %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.website}}">Website</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.blog %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.blog}}">Blog</a>
                {% assign first_entry = false %}
              {% endif %}
              
              {% if post.article %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.article}}">Article</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.video %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.video}}">Video</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.talk %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.talk}}">Talk</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.defense %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.defense}}">Defense</a>
                {% assign first_entry = false %}
              {% endif %}


              {% if post.short_talk %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.short_talk}}">Short Talk</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.code %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.code}}">Code</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.colab %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.colab}}">Colab</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.dataset %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.dataset}}">Dataset</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.poster %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.poster}}">Poster</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.slides %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.slides}}">Slides</a>
                {% assign first_entry = false %}
              {% endif %}

              <p>{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include unpublished research and coursework. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'other' %}
          <tr>
            <td style="padding:2.5%;width:30%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3> <br>
              {% if post.authors %}
              {{post.authors}} <br>
              {% endif %}
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} <br>
            
              {% assign first_entry = true %}
              {% if post.paper %}
                <a href="{{post.paper}}">Paper</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.report %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.report}}">Report</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.blog %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.blog}}">Blog</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.website %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.website}}">Website</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.video %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.video}}">Video</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.talk %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.talk}}">Talk</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.code %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.code}}">Code</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.dataset %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.dataset}}">Dataset</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.poster %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.poster}}">Poster</a>
                {% assign first_entry = false %}
              {% endif %}

              {% if post.slides %}
                {% unless first_entry %}
                  &nbsp/&nbsp
                {% endunless %}
                <a href="{{post.slides}}">Slides</a>
                {% assign first_entry = false %}
              {% endif %}

              <p>{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com">Leonid Keselman's website</a>,
                  which itself is based on <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

